body{
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#fec3c3;
  font-family:Arial;
}

.calculator{
  background:#ffb3b3;
  padding:20px;
  border-radius:20px;
  width:300px;
  border: #ff3e3e 3px solid;
}

#display{
  width:97%;
  height:76px;
  font-size:28px;
  text-align:right;
  margin-bottom:10px;
  background-color: white;

}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  
}

button{
  height:60px;
  font-size:20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  background-color: #fccaca;
}

#queso{
  height:60px;
  font-size:20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  background-color: #ffdbdb;
}

#pan{
  height:60px;
  font-size:20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  background-color: #fda6a6;
}

#mante{
  height:60px;
  font-size:20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  background-color: #f99191;
}

#no{
  height:60px;
  font-size:20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  background-color: #fb7171;
}


